@model SSProjectFollowUp.ViewModels.AdminVM

<div class="row">
    <div class="form-group">
        <input class="form-control" asp-for="@Model.company.CompId" hidden />
        <label class="form-label" asp-for="@Model.company.CompanyName"></label>
        <input class="form-control" asp-for="@Model.company.CompanyName" />
    </div>
    <div class="form-group">
        <label class="form-label" asp-for="@Model.company.Address">Address</label>
        <input class="form-control" asp-for="@Model.company.Address" />
    </div>
    <div class="form-group">
        <label class="form-label" asp-for="@Model.company.Phone"> Phone</label>
        <input class="form-control" asp-for="@Model.company.Phone" />
    </div>
    <div class="form-group">
        <label class="form-label" asp-for="@Model.company.StartDate"></label>
        <input class="form-control" asp-for="@Model.company.StartDate" type="date" />
    </div>
    <div class="form-group">
        <label class="form-label" asp-for="@Model.company.LockDate"></label>
        <input readonly class="form-control" asp-for="@Model.company.LockDate" type="date" />
    </div>
</div>
<input name="submit" type="submit" id="submit" value="Save" class="btn btn-primary" style="margin:inherit" />
<a asp-action="Index" class="btn btn-outline-dark">Back to List</a>

