@model SSProjectFollowUp.ViewModels.AdminVM
<div class="form-group">
    <label class="form-label">Department Name</label>
    <label class="form-control">@Model.companyCrosses.ToList()[0].Department.DepartmentName </label>
</div>
<br />
<div>
    <label class="form-label">Department Leader</label>
    <label class="form-control">@Model.companyCrosses.ToList()[0].Department.DepartmentName </label>
</div>
<br />

<div>
    @if (@Model.companyCrosses.Count() > 0)
    {
        <table class="table table-bordered  table-hover table-striped border-dark">
            <thead class="table-dark">
                <tr>
                    <td>Section</td>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.companyCrosses)
                    {
                        if (@item.SectionId!=null)
                        {
                            <tr type="button" value="@item.SectionId" class="Section">
                                <td>@item.Section.SectionName</td>
                            </tr>
                        }                        
                    }
                }
                <tr class="OrganizationPart">
                    <td colspan="2">
                        <button class="btn btn-primary" id="addorganizationpart" type="button" value="@Model.companyCrosses.ToList()[0].DepartmentId">Add Section</button>
                        <input class="btn btn-success" name="submit" type="submit" value="Save" />
                    </td>
                </tr>
            </tbody>
        </table>
    }
</div>