@model SSProjectFollowUp.ViewModels.AdminVM
<div>
    <div class="form-group">
        <label class="form-label" asp-for="applicationUser0.Id"></label>
        <input readonly class="form-control" asp-for="applicationUser0.Id" />
    </div>
    <div class="form-group">
        <label class="form-label" asp-for="applicationUser0.Name"></label>
        <input class="form-control" asp-for="applicationUser0.Name" />
    </div>
    <div class="form-group">
        <label class="form-label" asp-for="applicationUser0.Email"></label>
        <input class="form-control" asp-for="applicationUser0.Email" />
    </div>
    <div class="form-group">
        <label class="form-label" asp-for="applicationUser0.Department.DepartmentName"></label>
        <select id="selectDept" asp-for="@Model.applicationUser0.DepartmentId" asp-items="@Model.sCompanyCrossesDepartment" class="form-select">
            <option disabled selected>-- Select Level-- </option>
        </select>
    </div>
    <div class="form-group">
        <label class="form-label" asp-for="applicationUser0.Section.SectionName"></label>        
        <select id="selectSect"  asp-for="@Model.applicationUser0.SectionId" asp-items="@Model.sCompanyCrossesSection" class="form-select">
            <option disabled selected>-- Select Level-- </option>
        </select>
    </div>
    @{
        <div class="form-group">
            <label class="form-label" asp-for="@Model.applicationUserRole.Role.Name"></label>
            <input hidden asp-for="@Model.applicationUserRole.UserId" value="@Model.applicationUser0.Id" />
            <select asp-for="@Model.applicationUserRole.RoleId" asp-items="@Model.suserRoles" class="form-select">
                <option disabled selected>-- Select Level-- </option>
            </select>
        </div>
    }
    <div class="form-group">
        <input name="submit" type="submit" value="Save" class="btn btn-primary" />
        <a href="/Company/Index" class="btn btn-danger">Cancel</a>
    </div>
</div>