@model SSProjectFollowUp.ViewModels.AdminVM
<div class="form-group">
    <label class="form-label">Department Name</label>
    <label class="form-control">@Model.companyCrosses.ToList()[0].Department.DepartmentName </label>
</div>
<br />
<div class="form-group">
    <label class="form-label">Section Name</label>
    <label class="form-control">@Model.companyCrosses.ToList()[0].Section.SectionName </label>
</div>
<br />
<div>
    <label class="form-label">Section Leader</label>
    <label class="form-control">@Model.companyCrosses.ToList()[0].Section.SectionName </label>
</div>
<br />
<div>
    @if (@Model.applicationUsers.Count() > 0)
    {
        <table class="table table-bordered  table-hover table-striped border-dark">
            <thead class="table-dark">
                <tr>
                    <td>Worker Name</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.applicationUsers)
                {
                    <tr>
                        <td>
                            @item.UserName
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>