@model SSProjectFollowUp.ViewModels.AdminVM
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Register Date
            </th>
            <th>
                Name
            </th>
            <th>
                Mail
            </th>
            <th>
                Introduction
            </th>
            <th>
                Related User Name
            </th>
            <th>
                Approve Date
            </th>
            <th>
                Situation
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model.userApprovals)
            {
                <tr>
                    <td>
                        @item.CreatedAt
                    </td>
                    <td>
                        @item.ApplicantUser.UserName
                    </td>
                    <td>
                        @item.ApplicantId
                    </td>
                    <td>
                        @item.Introduction
                    </td>
                    <td>
                        @item.ToUserMail
                    </td>
                    <td>
                        @item.ApprovedAt
                    </td>
                    <td>
                        @item.Situation
                    </td>
                    @{
                        <td>
                            <input asp-for="idall" value="@item.UAId" hidden/>
                            <input class="btn btn-secondary" type="submit" id="submit" name="submit"  value="Approve" />
                            <input class="btn btn-danger" type="submit" id="submit" name="submit" value="Refuse" />
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>